html,
body {

    height: 100%;
}

header {

    height: 10%;
    background: url("../image/background.jpg") no-repeat;
    background-size: cover;
    color: white;
    height: 650px;
    position: relative;

}

main {

    min-height: 100%;
}


footer {


    margin-top: 300px;
    width: 100%;
    background-color: #2f3640;

}